* {
  margin: auto;
  padding-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(171, 192, 188);
  padding: 10px;
}
header {
  position: sticky;
  top: 0;
  padding-top: 15px;
  background-color: rgb(200, 223, 223);
  align-items: center;
  border-radius: 20px;
}
main {
  margin: 10px;
  padding: 30px;
  background-color: rgb(221, 233, 233);
  align-items: center;
  border-radius: 20px;
}

#leftside {
  margin-left: 20px;
  text-align: left;
  width: 500px;
}
#middleside {
  text-align: center;
  width: 200px;
}
#rightside {
  text-align: right;
  width: 100px;
  margin-right: 20px;
}
#inquiries {
  background-color: cornflowerblue;
  border: 2px black solid;
  border-radius: 5px;
  align-self: auto;
}
#pfp {
  background-color: white;
  height: 200px;
  width: 200px;
}

.flexboxes {
  display: flex;
}
.flexboxes div {
  flex: 1 1 200px;
}